body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-color: #3B4562;
}

body * {
  box-sizing: border-box;
}

p, input, button {
  margin: 0;
}

.game-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.game-link:hover {
  cursor: pointer;
}

.right {
  float: right;
}

.instructions {
  background: red;
  color: #fff;
  text-align: center;
  height: 100vh;
}

.instructions div {
  width: 50%;
  margin: auto;
  padding-top: 100px;
}

.instructions p {
  margin: 20px auto;
}

.app-container {
  background: #242A3E;
  padding: 10px;
  height: 90vh;
  border-radius: 5px;
}



.game-title {
  text-align: center;
  color: #fff;
}

.game {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.game-header {
  background-color: #D5134C;
  color: #fff;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  height: 50px;
}

.game-footer {
  background-color: #00AAA9;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  min-height: 50px;
}

.game-body {
  background-color: #3B4562;
  margin: 0;
  padding: 10px;
}

.game-body p {
  color: #fff;
}

.guess-count {
  font-size: 1.5em;
  color: #FB9433;
}

.game-body input, .game-body button {
  text-align: center;
  display: block;
  padding: 0;
  margin: 10px auto;
  width: 80%;
  height: 35px;
  border-radius: 5px;
}

.game-body input {
  background: #fff;
  border: 1px solid #242A3E;
  color: grey;
  font-size: 1.3em;
}

.game-body button {
  background: #242A3E;
  color: #92A4A4;
  border: 1px solid #242A3E;
  font-size: 1.3em;
}

.game-body button:hover {
  background: #D5134C;
  color: #fff;
  cursor: pointer;
}

.guess {
  display: inline-block;
  color: #fff;
  background: #0B5190;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}
